<html>

<head>

    <title>Crud Application</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
<link rel="shortcut icon" href="{{url_for('static', filename = 'teacher.png' )}}">


</head>

<body>


<div class="container">

    <div class="well text-center">

        <h1>Python Flask CRUD Web Application Development</h1>
        <nav class="navtop">
			<div>
                <a href="{{ url_for('Home') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('Logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
    </div>