{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
<div class="container text-center">
    <h2>Profile Page</h2>
    <div>
        <p>Your account details are below:</p>
        <table class="table table-striped">
            <tr>
                <td>Username:</td>
                <td>{{ username }}</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><a href="{{ url_for('change_password') }} " class="btn btn-primary">Ubah Password</a></td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>