<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}

{%with messages = get_flashed_messages()%}
{%if messages%}
{% for message in messages %}

         <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label ="close">
               <span aria-hidden="true">&times;</span>
            </button>
{{message}}
         </div>

{%endfor%}
{%endif%}
{%endwith%}

<br>
<div class="container text-center">
    <div class="jumbotron">
        <h2>Register</h2>
        <p>Buat akun admin baru.</p>
        <h4>Username hanya boleh terdiri dari kombinasi huruf dan angka, maksimal 25 karakter.</h4>
        <h4>Password harus terdiri dari minimal 8 karakter.</h4>
            <div class="links">
                <a href="{{ url_for('login') }}"  class="btn btn-primary">Login</a>
                <a href="{{ url_for('register') }}" class="btn btn-primary active">Register</a>
            </div>
            <br>
            <br>
            <form action="{{ url_for('register') }}" method="post">
                <label for="username">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="username" placeholder="Username" id="username" required>
                <br>
                <br>
                <label for="password">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <br>
                <br>
                <input type="submit" value="Buat Akun" class="btn btn-primary">
            </form>
    </div>
</div>
{% endblock %}

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>